<meta charset="utf-8">
{% extends 'base_adm.html' %}
{% block title %}分配地址{% endblock %}
{% block content %}
    <style>
        body{
            background: url("../../../static/img/002.jpg") no-repeat center center fixed;
            background-size: 100%;
            height: 400px;
            font-size: 18px;
        }

        .find{
            width:350px;
            height: 300px;
            margin-right: 10%;
            margin-top: 1%;
            float: right;

            background-color: rgba(130 ,200 ,200,0.2);

        }
        .find p{
            margin-top: 40px;
            margin-left: 20%;
        }

        .find form{
            margin-left: 20%;
        }
        .btn input{ /*设置两个按钮的宽高、边距及边框样式*/
            width: 50px;
            height: 24px;
            margin-right: 50px;
            background:#87CEFF;
            border-radius: 20px;
        }
        .btn0{
           font-size: 16px;
            margin-right: 50px;
            background: #87CEFF;
            border-radius: 20px;
        }
        #btnt{
            {#position: absolute;#}
            width: 80px;
            {#top: 380px;#}
            {#left: 300px;#}
            margin-top: 20%;
            margin-left: 10%;
            font-size: 16px;
             background: #87CEFF;
            border-radius: 20px;
        }
        #btnq{
             {#position: absolute;#}
            width: 80px;
            margin-top: 20%;

            {#top: 380px;#}
            {#left: 200px;#}
            font-size: 16px;
             background: #87CEFF;
            border-radius: 20px;
        }
        .b{

            margin-top: 40px;
            margin-left: 25%;
        }
        .inf{
            margin-top:1% ;
            margin-left: 15%;
            width: 200px;
            height: 400px;
            float: left;

        }
        .guodong{
            width: 600px;
            height: 350px;
            overflow: auto;
        }
        .btn2{
             width: 120px;
            height: 50px;
            background: #87CEFF;
            border-radius: 20px;
            position: absolute;
            left:100px;
            top:570px;
            font-size: 18px;
        }
        .tian{

            position: absolute;
            top:500px;
            right: 350px;
             width: 100px;
            height: 35px;
            background: #87CEFF;
            border-radius: 20px;
            font-size: 16px;

        }
        .head{
            position: relative;
            text-align: center;
            margin-top:50px ;

        }
        #bg{
            width: 100%;
            height: 300px;
            position: static;
        }
         table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
              overflow: auto;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: black;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 200px;
        }
        table tr:nth-child(odd)
        {
            background: #63B8FF;
        }
        table tr:nth-child(even)
        {
            background: #87CEFF;
        }
    </style>


<div id="bg">
        <div CLASS="head">
        <h2>分配地址</h2>
</div>
    <div class="inf">
        <h3>学生名单</h3>
                        {% csrf_token %}
        <div class="guodong">
        <table border="1">
                <tr>
                    <td>学&nbsp&nbsp生&nbsp&nbsp学&nbsp&nbsp号</td>
                    <td>学&nbsp&nbsp生&nbsp&nbsp姓&nbsp&nbsp名</td>
                    <td>确&nbsp&nbsp认&nbsp&nbsp学&nbsp&nbsp号</td>
                    <td>区&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        块&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        链&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址</td>
                </tr>
            {% for student in student_inform %}
            <tr>
                    <td>{{ student.studentID }}</td>
                    <td>{{ student.studentName }}</td>
            <form action="/adm1/" method="post">
                    {% csrf_token %}
                    <td>
                        <input type="text" name="student_id"value="{{ student.studentID }}"
                       formmethod="post" style="font-size: 18px ;width: 100px">
                    </td>
                    <td>
                        <input type="text" name="address"value="{{ student.studentAddress }}"
                       formmethod="post" style="font-size: 18px ;width: 250px">
                    </td>
                <input type="submit" value="确认分配" onclick="alert('分配成功')"formmethod="post"class="tian">
            </form>
            </tr>
            {% endfor %}
        </table>
        </div>
        </form>
    </div>
    </div>
{% endblock %}